@font-face {
  font-family: 'TT Norms';
  src:url('fonts/TTNorms.ttf');
}

:root {
  --light-gray : #f7f7f7;
  --weak-white : #e9e9e9;
  --table-gray : #939da6;
  --gray : #8c8c8c;
  --dark : #353535;
  --white: #ffffff;
  --dark-hover : #831d1d;
  --light-blue : #4990e2;
  --light-blue-hover : #2d5b91;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'TT Norms';
  outline: none;
}

.main-container {
  margin: 0 auto;
  padding-top: 75px;
  width: 65%;
}




.search-form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.search-form__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 25px;
}

.search-form__button {
  margin-left: 10px;
  width: 90px;
  height: 40px;
  background-color: var(--dark);
  color: var(--white);
  border: none;
  border-radius: 3px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 24px;
  transition-property: background-color;
  transition-duration: 0.24s;
  transition-timing-function: ease-in-out;
}

.search-form__button:hover {
  background-color: var(--dark-hover);
}

.search-form__label {
  color: var(--gray);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.search-form__input {
  width: 210px;
  height: 30px;
  border: 1px solid var(--weak-white);
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.report-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  word-wrap: break-word;
}

.item-preview {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  word-wrap: break-word;
}

.report-container__item-img {
margin-right: 25px
}


.report-item-details {
  background-color: var(--light-gray);
  padding: 25px;
}

#period-selection {
  width: 220px;
  height: 30px;
  border: 1px solid var(--weak-white);
  box-sizing: border-box;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

ul {
  list-style-type: none;
  word-wrap: break-word;
}

li {
  margin-top: 5px;
}

mark {
  background-color: var(--light-gray);
  color: var(--gray);
}

.options__button {
  margin-top: 50px;
  width: 180px;
  height: 40px;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 3px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 24px;
  transition-property: background-color;
  transition-duration: 0.24s;
  transition-timing-function: ease-in-out;
}

.options__button:hover {
  background-color: var(--light-blue-hover);
}

th {
  color: var(--table-gray);
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  word-wrap: break-word;
  text-align: left;
}

td {
  padding-top: 25px;
  padding-bottom: 25px;
  vertical-align: text-top  ;
}

.bordered {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--table-gray);
}

.result-container {
  margin-bottom: 25px;
  margin-top: 35px;
  padding: 25px;
  border: 1px dotted var(--gray);
  box-shadow: 0 0 25px rgba(0,0,0,0.2);

}

#report-name {
  color : #000000;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

#report-table {
  width: 100%;
  border-collapse: collapse;
}

#report-table img {
  margin-left: 15px;
}


